.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #6D2E46;
    text-align: center;
    color: white;
    padding: 10px;
}
.navbarExtra{
    background-color: #6D2E46;
    color: white;
    padding: 12px;
}

/* Improve specificity so Bootstrap's rules don't override the brand color */
.navbar.navbar-light.navbarExtra {
    background-color: #6D2E46;
    padding: 12px;
    padding-left: 80px;
}

.navbar.navbar-light.navbarExtra .navbar-brand {
    color: #ffffff;
}
